.container {
	width:50%;
	height: 300px;
	background-color: gray;
	border: 5px solid black;
	
	
	
}

.tower {
	display: inline-block;
	width: 32%;
	height: 100%;
	
}

#a {
	background-color: blue;
}

#b{
	background-color: green;
}

#c {
	background-color: yellow;
}

.block {
	display: block;
	background-color: gray;
	border-radius: 100%;
	margin:0 auto;


}

#large {
	width: 90%;
	height: 33%;

}

#med{
	width: 75%;
	height: 25%;
}

#small {
	width: 50%;
	height:15%;
}